NET "gp10row<0>" LOC = P80 | IOSTANDARD = LVTTL;
NET "gp10row<1>" LOC = P81 | IOSTANDARD = LVTTL;
NET "gp10row<2>" LOC = P79 | IOSTANDARD = LVTTL;
NET "gp10row<3>" LOC = P75 | IOSTANDARD = LVTTL;
NET "gp10row<4>" LOC = P74 | IOSTANDARD = LVTTL;

NET "bp20row<0>" LOC = P100| IOSTANDARD = LVTTL;
NET "bp20row<1>" LOC = P101| IOSTANDARD = LVTTL;
NET "bp20row<2>" LOC = P102| IOSTANDARD = LVTTL;
NET "bp20row<3>" LOC = P104| IOSTANDARD = LVTTL;
NET "bp20row<4>" LOC = P105| IOSTANDARD = LVTTL;

NET "p1col<0>" LOC = P15 | IOSTANDARD = LVTTL;
NET "p1col<1>" LOC = P16 | IOSTANDARD = LVTTL;
NET "p1col<2>" LOC = P17 | IOSTANDARD = LVTTL;
NET "p1col<3>" LOC = P21 | IOSTANDARD = LVTTL; 
NET "p1col<4>" LOC = P22 | IOSTANDARD = LVTTL; 

NET "wall1col<0>" LOC = P11 | IOSTANDARD = LVTTL;
NET "wall1col<1>" LOC = P14 | IOSTANDARD = LVTTL;
NET "wall1col<2>" LOC = P26 | IOSTANDARD = LVTTL;
NET "wall1col<3>" LOC = P23 | IOSTANDARD = LVTTL;
NET "wall1col<4>" LOC = P24 | IOSTANDARD = LVTTL;

NET "wall0row<0>" LOC = P84 | IOSTANDARD = LVTTL;
NET "wall0row<1>" LOC = P85 | IOSTANDARD = LVTTL;
NET "wall0row<2>" LOC = P82 | IOSTANDARD = LVTTL;
NET "wall0row<3>" LOC = P83 | IOSTANDARD = LVTTL;