NET "io_dip<7>" LOC = P115 | IOSTANDARD = LVTTL | PULLDOWN;
NET "io_dip<6>" LOC = P114 | IOSTANDARD = LVTTL | PULLDOWN;
NET "io_dip<5>" LOC = P117 | IOSTANDARD = LVTTL | PULLDOWN;
NET "io_dip<4>" LOC = P116 | IOSTANDARD = LVTTL | PULLDOWN;
NET "io_dip<3>" LOC = P119 | IOSTANDARD = LVTTL | PULLDOWN;
NET "io_dip<2>" LOC = P118 | IOSTANDARD = LVTTL | PULLDOWN;
NET "io_dip<1>" LOC = P121 | IOSTANDARD = LVTTL | PULLDOWN;
NET "io_dip<0>" LOC = P120 | IOSTANDARD = LVTTL | PULLDOWN;

# PULLDOWN is needed to prevent floating inputs
NET "io_button<0>" LOC = P137 | IOSTANDARD = LVTTL | PULLDOWN;
NET "io_button<1>" LOC = P140 | IOSTANDARD = LVTTL | PULLDOWN;
NET "io_button<2>" LOC = P139 | IOSTANDARD = LVTTL | PULLDOWN;
NET "io_button<3>" LOC = P142 | IOSTANDARD = LVTTL | PULLDOWN;
NET "io_button<4>" LOC = P138 | IOSTANDARD = LVTTL | PULLDOWN;

NET "io_led<0>"  LOC = P97 | IOSTANDARD = LVTTL;
NET "io_led<1>"  LOC = P98 | IOSTANDARD = LVTTL;
NET "io_led<2>" LOC = P94 | IOSTANDARD = LVTTL;
NET "io_led<3>" LOC = P95 | IOSTANDARD = LVTTL;
NET "io_led<4>" LOC = P92 | IOSTANDARD = LVTTL;
NET "io_led<5>" LOC = P93 | IOSTANDARD = LVTTL;
NET "io_led<6>" LOC = P87 | IOSTANDARD = LVTTL;
NET "io_led<7>" LOC = P88 | IOSTANDARD = LVTTL;